h1 {
  margin: 20px 0;
  color: white;
  font-size: 42px;
  text-align: center;
}
img {
  margin-bottom: 12px;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
li {
  background: #262626;
  width: 420px;
  color: white;
  font-size: 26px;
  border: 4px solid #353538;
  margin: 14px 0;
  padding: 16px 22px;
  border-radius: 8px;
}
